.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: white;
  padding: 12px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00bcd4;
}
