.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: white;
  padding: 12px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00bcd4;
}

.logout-btn {
  background: none;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.logout-btn:hover {
  color: #00bcd4;
}

.nav-notif {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-notif .notif-container {
  position: relative;
}

.nav-notif button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav-msg {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav-msg a {
  text-decoration: none;
  color: #333;
}

.nav-msg .notif-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: crimson;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
}

